<h4>{{model.text}}</h4>
<p>{{model.author}}</p>

<h3>Answers</h3>
{{#each model.answers as |answer|}}
   {{answer-tile answer=answer}}
{{/each}}

{{new-answer saveAnswer="saveAnswer" question=model}}
